.app__container {
  width: 900px;
  margin-top: 2rem;
}

/* .developers__list {
  width: "250px";
  border: "1px solid #b7bfbd";
  border-radius: "4px";
  border-top: "3px solid #4732bb";
  position: "relative";
} */
.test {
  position: relative !important;
}
.developers__edit {
  position: absolute !important;
  right: 10px;
  top: 0px;
  display: block;
}
